/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define SYM 1
#define FUN 2

&lt {
    tapping-term-ms = <180>;
    flavor = "tap-preferred";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp LALT   &kp Q  &kp W  &kp E  &kp R  &kp T                                   &kp Y      &kp U  &kp I     &kp O      &kp P         &kp RALT
&kp LCTRL  &kp A  &kp S  &kp D  &kp F  &kp G                                   &kp H      &kp J  &kp K     &kp L      &kp UP_ARROW  &kp RCTRL
&kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B     &kp ESC          &none        &kp N      &kp M  &kp LEFT  &kp RIGHT  &kp DOWN      &kp RSHFT
&kp LGUI   &none  &none  &none  &mo 1  &kp BSPC  &lt 2 BACKSPACE  &lt 2 ENTER  &kp SPACE  &mo 1  &none     &none      &none         &kp RGUI
            >;
        };

        symbol_layer {
            bindings = <
&kp AT_SIGN    &kp CARET       &kp EXCLAMATION  &kp QUESTION   &kp SQT               &kp GRAVE                                   &kp EQUAL       &kp DOUBLE_QUOTES  &kp ASTERISK  &kp SLASH  &kp PERCENT    &kp PIPE
&kp DOLLAR     &kp TILDE       &kp COLON        &kp SEMICOLON  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS                       &kp LESS_THAN   &kp GREATER_THAN   &kp PLUS      &kp MINUS  &kp PG_UP      &kp NON_US_BACKSLASH
&kp AMPERSAND  &kp UNDERSCORE  &kp PERIOD       &kp COMMA      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp ESC      &trans  &kp LEFT_BRACE  &kp RIGHT_BRACE    &kp HOME      &kp END    &kp PAGE_DOWN  &kp HASH
&none          &none           &none            &none          &none                 &trans                 &kp LS(TAB)  &trans  &kp DEL         &none              &none         &none      &none          &none
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
